body
{
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #1f4037, #99f2c8);
  /*background: url(a01.jpg);*/
  background-size: cover;
  background-position: center;
  font-size: 16px;
  color: #777;
  font-family: sans-serif;
  font-weight: 300;
}


#login-box
{
	position: relative;
	margin: 5% auto;
	height: 550px;
	width: 300px;
	/*background: #fff;*/
  background: linear-gradient(to left, #8e9eab, #eef2f3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	border-radius: 15px;
}

.TopText
{
	color: gray;
}

.box
{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: 40px;
	width: 300px;
	height: auto;
}

/*Testo*/
h1
{
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}
h5
{
	font-size: 16px;
}
a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
a:hover
{
	color: #ffc107;
}

/*Field*/
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select
{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: 1px solid #aaa;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  align-content: center;
}

/*Submit button*/
input[type="submit"]
{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
	background: #ff5722;
	transition: 0.2s ease;
}

button[type="submit"]{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.inserisci{
  position: relative;
  margin: 5% auto;
  height: inherit;
  width: 400px;
  background: #fff;
  border: 1px solid #a39363;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 15px; 
  padding: 10px;
}